.users{
  border:2px black solid;

  .searchUser{
    border:2px pink solid;
    background-color: pink;
    display: flex;
    justify-content: center;

    &>input{
      height: 30px;
    }
  }
  
  .pagination{
    display: flex;
    background-color: green;

    .pages{
      display: flex;
      background-color: pink;
      margin:auto;
      padding: 10px;


      &>div{
        padding: 0 10px;
      }
    }
  }
}