.users{
  border:5px black solid;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;

  .usersWrapper{
    border:9px orange solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // height: 100%;
    gap:50px;
    margin: 0 100px;
  }

  .searchUser{
    border:2px pink solid;
    background-color: pink;
    display: flex;
    justify-content: center;

    &>input{
      height: 30px;
    }
  }
  
  .pagination{
    display: flex;
    background-color: green;

    .pages{
      display: flex;
      background-color: pink;
      margin:auto;
      padding: 10px;


      &>div{
        padding: 0 10px;
      }
    }
  }
}