@import "../../../styleVariables.scss";
.subscribers{
  // border:5px solid red ;
  position: relative;

  

  .title{
    // border:5px solid orange ;
    padding:10px 0 0 20px;
    font-size: 35px;
    background-color: $active-color;
    color: white;
    font-weight: bold;
    border-bottom: 2px solid lightblue;
    border-top-left-radius: 20px;
    // border-top-right-radius: 20px;
    position: sticky;
    top: 0;
    z-index: 5;


  }

  .usersWrapper{
    // border:5px solid green ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:40px;
    padding: 20px;
    // height: 360px;
    // overflow: scroll;


  }
  .araa{
    font-size: 50px;
    width: 500px;
    height: 500px;
  }

  .usersFollowed{
    font-size: 50px;
    text-align: center;
    margin-top: 170px;
    padding: 0;
    font-style: italic;
    color: rgb(146, 145, 145);
  
  }
}