@import "../../styleVariables.scss";
.statusArea{
  border:5px rgb(54, 106, 188) solid;
  height: 100px;
  // background-color: lightblue ;
  border-radius: $border-radius;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
}

@media (max-width:2000px){
  .statusArea{
    // background-color: red;
    width: 90%;
    margin: auto;
  }
  
}
