.status{
  // border:5px red solid;
  text-align: center;
  width: 100%;
  font-size: 35px;
  overflow-y: auto;
  max-height: 100px;

  .noStatus{
    color: rgb(174, 173, 173);
    font-size: 25px;
  }
}

@media (max-width:2000px){
  .status{
   font-size: 30px;
   overflow-y: auto;
  }
  
}
