@import '../styleVariables';


.nav{
  width: 285px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $component-bg-color;
  border-radius: 10px 0px 0px 10px;
  font-family: $font-family;
  color: $font-color;




  .logo{
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $font-color;

    .logoImage{  
      border-radius: 50%;
      background-position: center;
      background-size: cover;
      background-color: $active-color;
      width: 65px;
      height: 65px;
      background-image: url(../../../public/imgs/logo.png);
    }

    &>h3{
      margin-left: 15px;
      font-size: 55px;
      line-height: 10px;
    }
  }

  .navigation{
    // margin: auto 0px;
    // height: auto;
    // border: 5px solid red;



    &>div{
      display: flex;
      margin: 30px 0;

    }
  }

  .navLink{
    text-decoration: none;
    font-size: 25px;
    color: $font-color;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    // border: 5px solid red;
  
   
    


    &>h3{
      margin-left: 15px;
    }

    .messageNotification{
      background-color: #FF353F;
      margin-left: 20px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      color: white;
      text-align: center;
    }
  }


  .active{
    border-left:10px $active-color solid;
    color:$active-color;



    .activeIcon{
      color:$active-color;
    }
  }

  .navIcon{
    font-weight: 500;
    font-size: 40px;
    margin-left:30px;
  }
 
}



@media (max-width:1200px){
  .nav{
    width: 100%;
    display: flex;
    align-items: center;
    

    .logo{
      display: none;
    }

    .navigation{
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      
      
      
    }

    .active{
      border-left: none;
      border-bottom:5px $active-color solid;
    }


    .navIcon{
      margin-left:0px;
      font-size: 28px;

    }

    .navLink{
      font-size: 25px;
      
    }
  }


  @media (max-width:768px){
    .navigation{
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: space-between;

      // align-items: center;
    
      
      &>div{  
        margin: 20px 0;
      }


      .navIcon{
        margin-left:0px;
        font-size: 30px;

  
      }
  
      .navLink{
        font-size: 30px;
        width: fit-content;
        font-size: 20px;
      }

    }

    


  }
  
  
}


@media (max-width:768px){
  .nav{
    .navigation{
      display: flex;
      
      &>div{
        margin: 10px 0;
      }
    }
  }
  

}