@import "../../styleVariables.scss";

.user{
  display: flex;
  flex-direction: column;
  // border:8px red solid;
  position: relative;
  // margin-top: 70px;




  .editPhoto{
    font-size: 25px;
    align-self: end;
    border:2px blue solid;
    border-radius: 50%;
    background-color: #1960b7;
    position: absolute;
    top:255px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.4s ease;

    &:hover{
    background-color: white;
    color:#1960b7;

    }

    input[type="file"] {
      display: none;
    }

    .custom{
      display: inline-block;
      padding: 6px 12px;
      cursor: pointer;
    }


  }
  

  .photo{
    @include userPhoto();
    border:1px blue solid;
    z-index: 2;
    box-shadow: inset 0px 0px 0px 20px #1960b7;
    background-color: white;

    &>img{
      transform: scale(0.8);
      border-radius: 50%; 

    }
  }

  .name{
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    // margin-top: 20px;
    width: 300px;
    word-wrap: break-word;
  }

  .avatarDefault{
    // background-image: url(../../../../public/imgs/avatar.png);
    // background-size: cover;
    @include default-avatar();
    width: 300px;
    height:300px;
    background-color: white;
    transform: scale(0.8);
    border-radius: 50%; 

  }
}

@media (max-width:1760px){
  .user{
    flex-direction: row;
    align-items: center;
    .photo{
      width: 170px;
      height: 170px;
      box-shadow: inset 0px 0px 0px 10px #1960b7;


      &>img{
        transform: scale(0.45);
        border-radius: 50%; 
  
      }
    }
  }
}




@media (max-width:1380px){
  .user{
    flex-direction: column;
    .name{
      width: auto;
      font-size: 25px;
    }
  }
}