body{
  display: flex;
  justify-content: center;
  align-items:center ;
  margin: 0;
  height:100vh;
  overflow-y:hidden;
 
  background: linear-gradient(180deg,#fdb3b4,#aab4fb);
  background-size: 120% 120%;
  animation: gradient-animation 12s ease infinite;
}
