@import "../../styleVariables.scss";

.selectedUser{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: $component-bg-color;
  color: $font-color;
  font-family: $font-family;
  border-radius: $border-radius;
  width: 85%;


  .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;


    

    .photo{
      border:10px #A5CEFF solid;
      border-radius: 50%;
      width: 200px;
      height: 200px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;

      &>img{
        width: 200px;
        height: 200px;
      }
    }
  
    .name{
      display: flex;
      justify-content: center;
      margin-top: 20px;

      &>*{
        margin: 0px;
      }
    }
  
    .aboutMe{
      margin-top: 20px;
      text-align: justify;
      display: flex;
      justify-content: center;
      color:#989BA1;
      border-bottom: 2px silver solid ;
      border-top: 2px silver solid;
    }
  
    .jobDescription{
      border:3px $active-color solid;
      width: 300px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      word-wrap: break-word;
      margin-top: 50px;
      border-radius: $border-radius;
      
    }
  
    .default{
      @include default-avatar();
    }
  }

}