@import "../../styleVariables.scss";

.userMessages{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  display: grid;
  grid-template-rows: 610px 1fr;
  height: 100%;
  border-radius: $border-radius;
  font-family: $font-family;
  color: $font-color;
  padding: 0px;
  position: relative;



  .message{
    overflow-y:auto;
    padding: 0px;
    // border:5px solid red;
  }


  .messageInput{
    display:flex;
    align-items: center;
    justify-content: center;
  }

  .noInformation{
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    @include noInfo();
    // text-decoration: underline;
    

  }
}