@import "../../styleVariables.scss";

.userMessages{
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  display: grid;
  grid-template-rows: 610px 1fr;
  height: 100%;
  border-radius: $border-radius;
  font-family: $font-family;
  color: $font-color;
  padding: 0px;


  .message{
    overflow-y:auto;
    padding: 0px;
  }


  .messageInput{
    display:flex;
    align-items: center;
    justify-content: center;
  }
}