$font-family:'Poppins', sans-serif;
$active-color:#1D75DD;
$font-color:#555758;
$border-radius:10px;
$default-avatar:'../../../../public/imgs/avatar.png';
$component-bg-color:white;
$my-message-color:#D1E6FF;
