$font-family:'Poppins', sans-serif;
$active-color:#1D75DD;
$font-color:#555758;
$border-radius:10px;
$default-avatar:'../../../../public/imgs/avatar.png';
$component-bg-color:white;
$my-message-color:#D1E6FF;
$box-shadow:8px 8px 24px -7px rgba(66, 68, 90, 1);



//Social networks color
$facebook:#0674e7;
$twitter:#1da1f2;
$instagram:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
$youtube:#ff0000;
$github:#161b22;





@mixin default-avatar() {
  background-image:url($default-avatar);
  background-size: cover;
  background-position:center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}


@mixin userPhoto (){
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


@mixin paginationSize () {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

