@import '../../styleVariables.scss';

.DialogsContent{
  display: grid;
  grid-template-areas:
  'search userName userName  profileInfo'
  'users dialog dialog profileInfo';
  gap: 20px;
  padding: 20px;
  grid-template-columns: 3fr 2fr 2.5fr 3fr;




  .search{
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .users{
    grid-area: users;
    display: flex;
    justify-content: center;

  }

  .userName{
    grid-area: userName;
    display: flex;
    align-items: center;
    background-color: $component-bg-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;


  }

  .dialog{
    grid-area: dialog;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $component-bg-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;


    

  }

  .profileInfo{
    grid-area: profileInfo;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    // align-items: center;
    // background-color: $component-bg-color;


  }
}



@media (max-width:1763px){

  .DialogsContent{
    grid-template-areas:
  'search userName userName  '
  'users dialog dialog ';
  grid-template-columns: 1fr  2fr;

  }
  

}



@media (max-width:768px){
  
  .DialogsContent{
  //   grid-template-areas:
  // 'search '
  // 'users '
  // 'userName'
  // 'dialog';
  // grid-template-columns: 1fr  2fr;
  display: flex;
  flex-direction: column;
  }



  .userName{
    margin-top: 70px;
  }
}