@import '../../styleVariables.scss';

.DialogsContent{
  border:8px solid black;
  display: grid;
  grid-template-areas:
  'search userName userName  profileInfo'
  'users dialog dialog profileInfo';
  gap: 20px;
  padding: 20px;
  grid-template-columns: 3fr 2fr 2.5fr 3fr;




  .search{
    border:3px red solid;
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .users{
    border:3px red solid;
    grid-area: users;
    display: flex;
    justify-content: center;

  }

  .userName{
    border:3px red solid;
    grid-area: userName;
    display: flex;
    align-items: center;
    background-color: $component-bg-color;
    border-radius: $border-radius;

  }

  .dialog{
    border:3px red solid;
    grid-area: dialog;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $component-bg-color;
    border-radius: $border-radius;

    

  }

  .profileInfo{
    border:3px red solid;
    grid-area: profileInfo;
    border-radius: $border-radius;
    background-color: $component-bg-color;

  }
}