@import '../styleVariables';


.userHeaderInfo{
  // border:2px solid green;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family;
  color:$font-color;


  .title{
    margin-left: 100px;
    font-size:40px;
    line-height: 0px;
  }

  .userInfo{
    // border:2px solid green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 450px;
    margin-right: 20px;
    font-size: 30px;

    .userName{
      text-decoration:underline;
      text-decoration-color: $active-color ;
      word-wrap: normal;
    }

    .profilePhoto{
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;  
      overflow: hidden;
      border: 5px solid $active-color;
      
      &>img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .logOutButton{
      @include logButton(rgb(255, 65, 65));     
    }
  }

  .avatarDefault{
    background-image:url(../../../public/imgs/avatar.png);
    background-size: cover;
    background-position:center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }


}


@media (max-width:768px){

  .userHeaderInfo{
    flex-direction: column;
    height: auto;

    .title{
      background-color: $active-color;
      width: 100%;
      text-align: center;
      color: white;
      // margin: 20px 0 0 0;
    }

    .userInfo{
      flex-direction: column;
      width: 100%;
      margin: 0;
      font-size: 25px;
      padding: 10px 0;

      .profilePhoto{
        width: 120px;
        height: 120px;

        &>img{
       
        }
      }
    }

    .title{
      margin-left: 0px;
      font-size: 25px;
    }


    .avatarDefault{
      width: 100%;
      height: 100%;

    }

    
  }
 
  


}