* {
  scrollbar-width: thin;
  scrollbar-color: #9fb2ea #ffffff;
}


*::-webkit-scrollbar {
  width: 13px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #9fb2ea;
  border-radius: 10px;
  border: 3px none #ffffff;
}


.app{
  // border:8px solid black;
  width: 2400px;
  height: 1200px;
  grid-template-columns:1fr 9fr;


  /* BG D1E6FF */

  background: #D1E6FF;
  border-radius: 10px;

  display: grid;
  grid-template-areas:
   'nav header header'
   'nav main main'
   'nav main main';


  .header{
    grid-area: header;
  }

  .nav{
    grid-area: nav;
  }

  .main{
    grid-area: main;
  }
}