@import '../../styleVariables.scss';


.usersForDialogs{
  width: 85%;
  height: 750px;
  border-radius: $border-radius;
  background-color: $component-bg-color;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
  box-shadow: $box-shadow;
 
  font-family: $font-family;

  .noInformation{
    text-align: center;
    margin-top: 300px;
    font-size: 30px;
    @include noInfo();
    // text-decoration: underline;
    

  }
  
}