@import '../../styleVariables.scss';

.usersForDialogs{
  border:2px solid blue;
  width: 85%;
  height: 750px;
  border-radius: $border-radius;
  background-color: $component-bg-color;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  box-sizing: border-box;
  overflow-y: auto;
}