@import '../../styleVariables.scss';

.userDialog{
  color:$font-color;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: start;
  // align-items: center;
  padding: 20px 0px;
  // border:2px solid green ;
  cursor: pointer;

  &:hover{
    background-color: rgb(237, 237, 237);
  }



  .wraper{
    display: flex;
    flex-direction: column;
    // justify-content: start;
    padding-left:50px;
    // width: 400px;
    cursor: pointer;
    // border:2px solid green ;


    .lastActivity{
      font-size: 17px;
    }

    .userInfo{
      display: flex;
  
      .userPhoto{
        width: 80px;
        height: 80px;
        @include userPhoto();
      }
    
      .userName{
        // margin: auto;
        margin-left: 30px;
        font-size: 20px;
      }
    }
  } 
}

.active{
  background:linear-gradient(90deg, #1D75DD 0%, #085EC4 100%);
  color:white;
}

.default{
  @include default-avatar();
}