@import "../../styleVariables.scss";

.aboutMe{
  border:5px solid red;
  height: 100%;
  display: flex;
  justify-content: space-between;

  .bio{
    @include aboutMeInfoCards();

  }

  
  .editModeBio{
    
    &>div{
      opacity: 0%;
      transition: 2s ease;
    }
  }


  .skills{
    @include aboutMeInfoCards();
  }
}

