@import "../../styleVariables.scss";

.aboutMe{
  // border:5px solid red;
  height: 100%;
  display: flex;
  justify-content: space-between;


  .bio{
    @include aboutMeInfoCards();

 
  }
  
  


  .skills{
    @include aboutMeInfoCards();


  }

}

.whenNoInfo{
  font-size: 30px;
  @include noInfo();

}




@media (max-width:768px){

 .aboutMe{
  flex-direction: column;
  align-items: center;

  .bio{
    width: 100%;
  }

  .skills{
    width: 100%;
    margin-top: 20px;
  }
 }
  
}
