@import "../../../styleVariables.scss";

.mainInfo{
  position: relative;
  grid-area: mainInfo;
  // border:5px solid rgb(58, 108, 216);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $component-bg-color;
  border-radius: 10px;
  justify-content: space-between;
  border-radius: 20px;
  overflow: hidden;
 
  .editMode{
    z-index: 2;
    border:3px solid blue;
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    background-color: white;
    cursor: pointer;


  }


  .statusArea{
    // margin-top:100px;
    
    .statusTitle{
    // border:5px solid blue;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;

      .edit{
        cursor: pointer;
        font-size: 30px;
      }

    }

    .statusWrapper{
      // border:5px solid red;
      position:relative;
    }
  }

  .socialMediaWrapper{
    background-color: $active-color;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin: auto;
    height: 150px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    .socialMediaLinks{
      background-color: white;
      border-radius: 50px;
      padding: 0 40px;
    }
  }
}


.mainInfo::before{
  height: 300px;
  @include before-design();
  width: 100%;
}
