@import "../styleVariables.scss";
.chatArea{
  // border:5px solid green;
  height: 100%;
  width: 1000px;
  // margin:auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $component-bg-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;




  .chatMessages{
    // border:8px solid blue;
    border-radius: $border-radius;
    height: 800px;
    overflow-y: scroll;
    padding: 10px 40px;
  }

  .sendMessage{
    // border:8px solid blue;
    display: flex;
    justify-content: center;
  }
}

@media (max-width:1900px){
  .chatArea{
    width: 90%;
    margin: auto;
  }
 
}