@import "../styleVariables.scss";

.chatContent{
  border:5px solid yellow;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;



  .chatWrapper{
    border:5px solid black;
    display: flex;
    align-items: center;
    height: 100%;
    
    


    .chatArea{
      // border:5px solid black;
      height: 100%;
      box-shadow: $box-shadow;
      grid-area:chat;

    }
  
  
    .chatUsers{
      margin-left: 40px;
      // justify-self: end;
      align-self: flex-start;
      box-shadow: $box-shadow;
      grid-area:users;

    }

  }

  @media (max-width:1900px){
    .chatWrapper{
      display: grid;
      grid-template-areas:
      'users users'
      'chat chat';

      .chatUsers{
        margin-left: 0;
        margin-bottom: 20px;
      }

     
    }
    }
}


