@import "../styleVariables.scss";

.chatMessage{
  // border:8px blue solid;
  margin:30px 0;
  font-family: $font-family;
  color:$font-color;
  background-color: rgba(173, 216, 230, 0.788);
  border-radius: $border-radius;
  padding: 10px;
  box-shadow: 5px 3px 6px 2px #A3A3A3;


  .photoNameWrapper{
    // border:8px black solid;
    display: flex;

    .photo{
      border:5px  $active-color solid;
      margin: 0 30px;
      @include userPhoto();
      box-shadow: 5px 3px 6px 2px #A3A3A3;
    }

    .default{
      background-image:url(../../../public/imgs/avatar.png);
      background-size: cover;
      background-position:center;
      width: 90px;
      height: 90px;
      border-radius: 50%;
    }
  
    .name{
      // border:4px green solid;
      display: flex;
      align-items: center;
    }
  
  }

  // .message{
  //   border:4px orange solid;
  // }

  .message {
    position: relative;
    background: $active-color;
    color: white;
    font-size: 20px;
    line-height: 120px;
    margin: 10px;
    border-radius: 10px;
    padding: 0px 40px;
    box-shadow: 5px 3px 6px 2px #A3A3A3;
    // width: 100px;
    line-height: 70px;
    word-wrap:break-word ;
  ;
  }
.message:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 19px 0 0 20px;
    border-color: transparent transparent transparent $active-color;
    top: -19px;
    left: 12%;
    margin-left: -10px;
}
}

